@media (max-width: 550px) 
{
    header {
    display: flex;
    justify-content: center;
    padding-left: 3px;
}
header button {
    font-size: 10px;
    margin-right: 2px;
    padding: 8px 12px;
    border-radius: 20px;
}
.section2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.div1a img {
    max-width: 100%;
}
.section2 .div1b {
    /* width: 61%; */
    padding: 40px 10px 30px 15px;
}
.section5 {
    flex-direction: column;
    padding: 50px 50px 50px 50px;
}
.section5a {
    margin-inline: auto;
    margin-bottom: 40px;
}
.section5b img {
    width: 230px;
    margin-top: 25px; 
    margin-left: 39px;
    height: 333px;}
.section6 {
    z-index: 1;
    height: 40px;
}
@keyframes translator {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(380px);
    }
}
footer {
    padding: 5px 10px;
    
}
.footera {
padding-bottom: 30px;
height: 70%;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 1px;
}
.footeraiii {
    flex-wrap: nowrap;
    padding-bottom: 5px;
}
.footeraia {
    margin-top: 0;
}
.footeraia img {
    width: 100%;
    margin-bottom: 0;
}

.footeraib {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-around;
    width: 70%;
    margin-top: 0;}

.footeraib img {
    width: 13%;
    height: 13%;
    border-radius: 50%;
}
.footeraii {
    align-items: center;
    padding-bottom: 5px;
}
.footeraii ul {
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 5px;
}
.footeraiii button {
    padding: 10px 15px;
    font-size: 11px;
    margin-top: 30px;
}
.footerai {
    padding-bottom: 5px;
    display: grid;
    grid-template-rows: 1fr 2fr;
}
.div1 {
    display: flex;
    align-items: left;
    margin-right: 50px;
    padding-right: 50px;
}
}
@media (min-width: 551px) and (max-width: 999px) 
{
.section2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    }
.footeraib {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-around;
    width: 70%;
    margin-top: 0;}
}