@media (max-width: 600px) 
{
.section2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.div1a img {
    max-width: 150px;
}
.section2 .div1b {
    /* width: 61%; */
    padding: 40px 10px 30px 15px;
}
.section5 {
    flex-direction: column;
    padding: 50px 50px 50px 50px;
}
.section5a {
    margin-inline: auto;
    margin-bottom: 40px;
}
.section5b img {
    width: 230px;
    margin-top: 25px; 
    margin-left: 39px;
    height: 333px;}
.section6 {
    z-index: 1;
    height: 40px;
}
@keyframes translator {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(380px);
    }
}
footer {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.footera {
padding-bottom: 30px;
height: 70%;
}
.footerb {
    height: 30%;
}
.footeraiii {
    padding: 5px 10px;
    flex-wrap: nowrap;
    padding-bottom: 5px;
}
.footeraia {
    display: flex;
    justify-content: center;
}
.footeraia img {
    width: 140px;
    margin-bottom: 0;
}

.footeraib {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 110px;
    margin-top: 5px;}

.footeraib img {
    width: 18px;
    height: 18px;
    border-radius: 40px;
}
.footeraii {
    align-items: center;
    padding-bottom: 5px;
}
.footeraii ul {
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 5px;
}
.footeraiii button {
    padding: 10px 15px;
    font-size: 11px;
    margin-top: 30px;
}
.footerai {
    padding-bottom: 5px;
}
}